<a href="https://colab.research.google.com/github/IgorNascimentoDEV/Analise-dados/blob/main/An%C3%A1lise_exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-talk')
import warnings
warnings.filterwarnings("ignore")

In [3]:
dados = pd.read_csv("/content/Dados-Pesquisa.csv")

In [ ]:
dados.head()

In [ ]:
dados.shape

In [ ]:
dados.head(1-2)

In [ ]:
dados.columns

In [ ]:
dados.columns.to_list() #lista as colunas da base de dados

In [ ]:
dados.columns.values #lista as colunas da base de dados

In [12]:
df = dados.copy() #copiando dados

In [ ]:
dados.isna().sum()

In [21]:
dados.dropna(subset = ['Age'], inplace = True)

In [ ]:
dados.isna().sum().values

In [ ]:
dados.isna().sum().sum()

In [ ]:
dados.isna().sum().to_list()

In [ ]:
print('A base de dados apresenta {} linhas e {}colunas'.format(
    dados.shape[0], dados.shape[1]
))

In [ ]:
dados.select_dtypes(include='number').head()

In [ ]:
dados.select_dtypes(include='object').head()

In [ ]:
dados = dados [['Age', 'Gender', 'JobRoleInterest', 'EmploymentField', 'JobRelocateYesNo', 'HoursLearning', 'MoneyForLearning' ]]
dados

In [33]:
dados = dados.drop_duplicates()

In [ ]:
dados.shape

In [ ]:
dados.describe()

In [ ]:
dados.describe(include = 'O')

In [ ]:
dados.loc[dados['Age'] > 30] #metodo de localizar valores maiores de 30 anos na tabela Age

In [43]:
dados["Age"].unique()

array([28., 22., 19., 26., 20., 34., 23., 35., 33., 57., 27., 47., 37.,
       31., 29., 30., 32., 25., 44., 21., 24., 18., 39., 41., 43., 36.,
       40., 38., 16., 46., 15., 14., 50., 49., 45., 55., 51., 17., 53.,
       52., 48., 56., 42., 54., 58., 65., 59., 75., 61., 80., 62., 60.,
       66., 12., 11., 13., 63., 64., 70., 73., 69., 71., 68., 86., 10.,
       67., 72.])

In [ ]:
dados.Age.unique()

In [ ]:
np.sort(dados.Age.unique())