<a href="https://colab.research.google.com/github/IgorNascimentoDEV/Analise-dados/blob/main/Arvore_Decisao_analiseClienteEcommerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Análise de dados para almentar nível de satisfação dos clientes de um e-commerce utilizando árvore de decisão.**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Importação das bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Leitura dos csv**

In [3]:
dados_cliente = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/1_cliente.csv')
dados_geolocalizacao = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/2_geolocalizacao.csv')
dados_pedido = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/3_pedido.csv')
dados_pagamento = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/4_pagamento.csv')
dados_review_clientes = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/5_review_clientes.csv')
dados_entrega_pedido = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/6_entrega_pedido.csv')
dados_descricao_produto = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/7_descricao_produto.csv')
dados_vendedor = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/8_vendedor.csv')
dados_categoria_traduzido = pd.read_csv('/content/drive/MyDrive/Dados para atividade Camila/dados_arvore_decisao/9_categoria_traduzido.csv')

**Checagem dos 6 primeiros elementos de cada tabela**

1- Use .head() para visualizar as primeiras linhas de cada uma das tabelas

In [4]:
dados_cliente.head(1-2)
#dados_geolocalizacao.head(1-2)
#dados_pedido.head(1-2)
#dados_pagamento.head(1-2)
#dados_review_clientes.head(1-2)
#dados_entrega_pedido.head(1-2)
#dados_descricao_produto.head(1-2)
#dados_vendedor.head(1-2)
#dados_categoria_traduzido.head(1-2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99435,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,35500,divinopolis,MG
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS

**Processo de união de cada tabela com a proxima**

In [5]:
dados = dados_cliente.merge(dados_entrega_pedido).merge(dados_pedido).merge(dados_pagamento).merge(dados_review_clientes).merge(dados_vendedor)

Visualizando a tabela resultante

In [6]:
dados.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,seller_zip_code_prefix,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,8577,itaquaquecetuba,SP
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,157.73,5ad6695d76ee186dc473c42706984d87,5,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,8577,itaquaquecetuba,SP
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,173.30,059a801bb31f6aab2266e672cab87bc5,5,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,8577,itaquaquecetuba,SP
3,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,65075,sao luis,MA,997fd4b37386d10b57d4ac8cdec011a6,delivered,2018-07-08 09:59:19,2018-07-08 10:30:15,2018-07-25 15:12:00,...,315.75,2518803238cabbf63564593e4a8fc52d,1,Nada de produto,"Ainda não recebi o produto. Sendo assim, não p...",2018-08-09 00:00:00,2018-08-14 11:40:54,8577,itaquaquecetuba,SP
4,8276de07ef25225d412b8462d73f8664,332cf4e83e16004ba7dca932ce82475b,90010,porto alegre,RS,b63fff1ef8b6201df68bb611ee41129e,delivered,2017-04-02 22:15:27,2017-04-04 05:55:19,2017-04-13 16:28:06,...,146.21,84467f1766775ba4c14fc25b3ca67905,4,NaN,"A crítica é à entrega, pois por se tratar dos ...",2017-05-03 00:00:00,2017-05-03 21:06:33,8577,itaquaquecetuba,SP

In [7]:
dados.isnull().sum()

customer_id                           0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_id                              0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    15
order_delivered_carrier_date       1235
order_delivered_customer_date      2471
order_estimated_delivery_date         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
review_id                             0
review_score                          0
review_comment_title             103437
review_comment_message            67650
review_creation_date                  0
review_answer_timestamp               0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

In [8]:
dados.isna().sum()

customer_id                           0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_id                              0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    15
order_delivered_carrier_date       1235
order_delivered_customer_date      2471
order_estimated_delivery_date         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
review_id                             0
review_score                          0
review_comment_title             103437
review_comment_message            67650
review_creation_date                  0
review_answer_timestamp               0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

**Segunda filtragem consiste em remover elementos que não possuem relaçõa com a variavel reviw_score**

In [9]:
df_ = dados.copy()

In [10]:
dados.columns.tolist()

['customer_id',
 'customer_unique_id',
 'customer_zip_code_prefix',
 'customer_city',
 'customer_state',
 'order_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value',
 'payment_sequential',
 'payment_type',
 'payment_installments',
 'payment_value',
 'review_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp',
 'seller_zip_code_prefix',
 'seller_city',
 'seller_state']

In [11]:
dataframe = dados.drop(columns=["customer_unique_id",
    "customer_city","customer_state", "order_status",
                          "order_purchase_timestamp",
                          "order_approved_at",
                          "order_delivered_carrier_date",
                          "order_delivered_customer_date",
                          "order_estimated_delivery_date",
                          "shipping_limit_date",
                          "review_creation_date",
                          "review_answer_timestamp",
                          "seller_city",
                          "seller_state",
                          "review_comment_title",
                          "review_comment_message"])

In [12]:
dataframe.shape

(117329, 15)

**Vetores**

Criando uma estrutura para evitar código lomgo:

---

**Inserindo cada atributo numérico da tabela resultante em um veor para melhor manipulação dos dados**

vetor = np.array(dataframe.coluna)

In [13]:
for coluna in dataframe:
  dataframe[coluna] = (np.array(dataframe[coluna]))

In [14]:
dataframe.columns.tolist()

['customer_id',
 'customer_zip_code_prefix',
 'order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'price',
 'freight_value',
 'payment_sequential',
 'payment_type',
 'payment_installments',
 'payment_value',
 'review_id',
 'review_score',
 'seller_zip_code_prefix']

In [15]:
dataframe.columns = ["cliente","cepcliente", "pedido",
"idpedido", "produto", "vendedor",
"preco_produto", "frete", "parcelas",
"tipopagamento", "prestações", "valorfinal",
"review", "score", "cepvendedor"]

**Informações do dataframe**

Atributos, elementos não nulos, tipos das variaveis

In [16]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117329 entries, 0 to 117328
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cliente        117329 non-null  object
 1   cepcliente     117329 non-null  int64
 2   pedido         117329 non-null  object
 3   idpedido       117329 non-null  int64
 4   produto        117329 non-null  object
 5   vendedor       117329 non-null  object
 6   preco_produto  117329 non-null  float64
 7   frete          117329 non-null  float64
 8   parcelas       117329 non-null  int64
 9   tipopagamento  117329 non-null  object
 10  prestações     117329 non-null  int64
 11  valorfinal     117329 non-null  float64
 12  review         117329 non-null  object
 13  score          117329 non-null  int64
 14  cepvendedor    117329 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 14.3+ MB

**Agrupando os elementos do dataframe por consumidor**

In [17]:
dataframe.groupby(by='cliente').size()

cliente
00012a2ce6f8dcda20d059ce98491703    1
000161a058600d5901f007fab4c27140    1
0001fd6190edaaf884bcaf3d49edf079    1
0002414f95344307404f0ace7a26f1d5    1
000379cdec625522490c315e70c7a9fb    1
                                   ..
fffcb937e9dd47a13f05ecb8290f4d3e    1
fffecc9f79fd8c764f843e9951b11341    3
fffeda5b6d849fbd39689bb92087f431    1
ffff42319e9b2d713724ae527742af25    1
ffffa3172527f765de70084a7e53aae8    2
Length: 97916, dtype: int64

**Importando os métodos de arvore de decisão**

In [18]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics

**Para simplificar os dados, removemos todos os elementos não-numericos.**

In [19]:
df = dataframe.copy()

In [20]:
df

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_produto,frete,parcelas,tipopagamento,prestações,valorfinal,review,score,cepvendedor
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88,1,credit_card,2,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,8577
1,4e7b3e00288586ebd08712fdd0374a03,1151,b2059ed67ce144a36e2aa97d2c9e9ad2,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79,1,credit_card,7,157.73,5ad6695d76ee186dc473c42706984d87,5,8577
2,b2b6027bc5c5109e529d4dc6358b12c3,8775,951670f92359f4fe4a63112aa7306eba,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36,1,credit_card,1,173.30,059a801bb31f6aab2266e672cab87bc5,5,8577
3,4c06b42fbf7b97ab10779cda5549cd1c,65075,997fd4b37386d10b57d4ac8cdec011a6,1,8ed094bfe076c568f6bb10feada3f75d,7c67e1448b00f6e969d365cea6b010ab,199.98,115.77,1,credit_card,6,315.75,2518803238cabbf63564593e4a8fc52d,1,8577
4,8276de07ef25225d412b8462d73f8664,90010,b63fff1ef8b6201df68bb611ee41129e,1,aba86c093ccdbac75b09111d57e50004,7c67e1448b00f6e969d365cea6b010ab,129.60,16.61,1,boleto,1,146.21,84467f1766775ba4c14fc25b3ca67905,4,8577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,eda10d7eb51a675d000956fa1aabc7dd,39920,b494f624c631105b24fe497277085909,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,49.90,22.28,1,credit_card,3,72.18,709ee020ff826ee5289d7dd5d6911d0c,5,87015
117325,f0f671d4034e98cdf20f0c452d6db02b,7231,f73b31435ce6dec43df056154c39a1ce,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,730.00,45.98,1,credit_card,10,775.98,274e38de8990f74fc03894fa488b5cd5,3,9861
117326,b90b857a277b080d8078332b3636ab58,76400,d76fe905f4588ad69ab3b36527bb267d,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,135.98,88.46,1,credit_card,6,224.44,6010e1ba95a9e19dc10a7b761932cf98,5,83015
117327,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,1,credit_card,5,167.79,603f2873842a6975a43c54d305397d69,1,12914
117328,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,2,credit_card,1,32.13,603f2873842a6975a43c54d305397d69,1,12914

In [21]:
#Retirar as letras
df['cliente'] = df['cliente'].str.replace(r'\D', '')
df['pedido'] = df['pedido'].str.replace(r'\D', '')
df['produto'] = df['produto'].str.replace(r'\D', '')
df['vendedor'] = df['vendedor'].str.replace(r'\D', '')
df['review'] = df['review'].str.replace(r'\D', '')
df

<ipython-input-21-b6729973405e>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cliente'] = df['cliente'].str.replace(r'\D', '')
<ipython-input-21-b6729973405e>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['pedido'] = df['pedido'].str.replace(r'\D', '')
<ipython-input-21-b6729973405e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['produto'] = df['produto'].str.replace(r'\D', '')
<ipython-input-21-b6729973405e>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vendedor'] = df['vendedor'].str.replace(r'\D', '')
<ipython-input-21-b6729973405e>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['review'] = df['review'].str.replace(r'\D', '')

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_produto,frete,parcelas,tipopagamento,prestações,valorfinal,review,score,cepvendedor
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,76714480069693656010,124.99,21.88,1,credit_card,2,146.87,88852460269121365930,4,8577
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,76714480069693656010,139.94,17.79,1,credit_card,7,157.73,56695761864734270698487,5,8577
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,76714480069693656010,149.94,23.36,1,credit_card,1,173.30,0598013162266672875,5,8577
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,credit_card,6,315.75,2518803238635645934852,1,8577
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,76714480069693656010,129.60,16.61,1,boleto,1,146.21,84467176677541425367905,4,8577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,9140758211403593580567204,49.90,22.28,1,credit_card,3,72.18,70902082652897569110,5,87015
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,414909055710300356,730.00,45.98,1,credit_card,10,775.98,274388990740389448855,3,9861
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,377183347821535223225,135.98,88.46,1,credit_card,6,224.44,601019591910776193298,5,83015
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,1,credit_card,5,167.79,60328738426975435430539769,1,12914
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,2,credit_card,1,32.13,60328738426975435430539769,1,12914

In [22]:
#pd.get_dummies cria colunas com os valores das colunas selecionadas 1 pra true 0 para false
result_df = pd.get_dummies(df, columns=["tipopagamento"])

In [23]:
result_df

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_produto,frete,parcelas,prestações,valorfinal,review,score,cepvendedor,tipopagamento_boleto,tipopagamento_credit_card,tipopagamento_debit_card,tipopagamento_voucher
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,76714480069693656010,124.99,21.88,1,2,146.87,88852460269121365930,4,8577,0,1,0,0
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,76714480069693656010,139.94,17.79,1,7,157.73,56695761864734270698487,5,8577,0,1,0,0
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,76714480069693656010,149.94,23.36,1,1,173.30,0598013162266672875,5,8577,0,1,0,0
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,6,315.75,2518803238635645934852,1,8577,0,1,0,0
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,76714480069693656010,129.60,16.61,1,1,146.21,84467176677541425367905,4,8577,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,9140758211403593580567204,49.90,22.28,1,3,72.18,70902082652897569110,5,87015,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,414909055710300356,730.00,45.98,1,10,775.98,274388990740389448855,3,9861,0,1,0,0
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,377183347821535223225,135.98,88.46,1,6,224.44,601019591910776193298,5,83015,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,1,5,167.79,60328738426975435430539769,1,12914,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,2,1,32.13,60328738426975435430539769,1,12914,0,1,0,0

In [ ]:
reserva = result_df.copy()
reserva

In [ ]:
reserva = reserva.drop(reserva[reserva.score > 3].index)
reserva

In [27]:
y = result_df['score']

In [30]:
X = result_df.drop('score', axis=1)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [41]:
X_train.shape, X_test.shape

((93863, 17), (23466, 17))

In [42]:
cls =DecisionTreeClassifier() #model, modelo, model_dt

In [43]:
cls = cls.fit(X_train, y_train)

In [44]:
cls.feature_importances_

array([0.11108596, 0.10752932, 0.10964086, 0.0067398 , 0.09259098,
       0.07662651, 0.07802997, 0.08537722, 0.00240405, 0.03949466,
       0.08643414, 0.11058003, 0.07144155, 0.00905982, 0.00734963,
       0.00245975, 0.00315575])

In [46]:
for feature, importancia in zip(result_df.columns, cls.feature_importances_):
    print("{}:{:.1f}%".format(feature,((importancia*100))))

cliente:11.1%
cepcliente:10.8%
pedido:11.0%
idpedido:0.7%
produto:9.3%
vendedor:7.7%
preco_produto:7.8%
frete:8.5%
parcelas:0.2%
prestações:3.9%
valorfinal:8.6%
review:11.1%
score:7.1%
cepvendedor:0.9%
tipopagamento_boleto:0.7%
tipopagamento_credit_card:0.2%
tipopagamento_debit_card:0.3%

In [48]:
result = cls.predict(X_test)
result

array([5, 5, 4, ..., 1, 1, 5])

In [49]:
print(metrics.classification_report(y_test,result))

              precision    recall  f1-score   support

           1       0.25      0.25      0.25      3002
           2       0.13      0.15      0.14       800
           3       0.17      0.19      0.18      1951
           4       0.26      0.26      0.26      4542
           5       0.61      0.59      0.60     13171

    accuracy                           0.43     23466
   macro avg       0.28      0.29      0.28     23466
weighted avg       0.44      0.43      0.44     23466