<a href="https://colab.research.google.com/github/IgorNascimentoDEV/Analise-dados/blob/main/LAB_22_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importar Bibliotecas**

In [6]:
import pandas as pd
import numpy as np

**Realizando a Leitura e entendendo os Arquivos csv**

In [ ]:
# Carregar dados de empresas inativas
dadosEmpresasInativas = pd.read_csv('/content/empresasinativender.csv', delimiter=';')

# Carregar dados de empresas ativas
dadosEmpresasAtivas = pd.read_csv('/content/empresasativender.csv', delimiter=';')

In [ ]:
#Analisando as conlunas da planilha
print('Empresa Inativas\n')
print(dadosEmpresasInativas.columns)

print('\n\n')

print('Empresas Ativas\n')
print(dadosEmpresasAtivas.columns)

In [ ]:
# Examimando as primeiras linhas do DataFrame
print('Empresas Inativas\n')
print(dadosEmpresasInativas.head())

print('\n\n')

print('Empresas Ativas\n')
print(dadosEmpresasAtivas.head())

In [ ]:
# Obtendo informações sobre os DataFrames
print('Empresas Inativas\n')
print(dadosEmpresasInativas.info())

print('\n\n')

print('Empresas Ativas\n')
print(dadosEmpresasAtivas.info())

In [ ]:
# Verificando estatísticas resumidas dos DataFrames
print('Empresas Inativas\n')
print(dadosEmpresasInativas.describe())

print('\n\n')


print('Empresas Ativas\n')
print(dadosEmpresasAtivas.describe())

**Pré-Processamento e normalização**

In [60]:
# Verificando valores nulos nos DataFrames
print('Empresas Inativas\n')
print(dadosEmpresasInativas.isnull().sum())

print('\n\n')

print('Empresas Ativas\n')
print(dadosEmpresasAtivas.isnull().sum())

Empresas Inativas

cnpj                            0
razao_social                    0
nome_fantasia                   0
cod_logradouro                  0
nome_logradouro                 0
numero_residencia          169443
numero_lote                 17771
cod_bairro                      0
nome_bairro                     0
situacao_empresa                0
data_abertura_empresa           0
data_encerramento          293692
cod_grupo                       0
nome_grupo                      0
cnae                            0
desc_atividade                  0
atividade_principal             0
atividade_vig_sanitaria         0
atividade_predominante          0
incomodo                        0
latitude                    37228
longitude                   37228
dtype: int64



Empresas Ativas

cnpj                            0
razao_social                    0
nome_fantasia                   0
cod_logradouro                  0
nome_logradouro                 0
numero_residencia          169657
numero_lote                 11541
cod_bairro                      0
nome_bairro                     0
situacao_empresa                0
data_abertura_empresa      317572
data_encerramento          317572
cod_grupo                       0
nome_grupo                      0
cnae                            0
desc_atividade                  0
atividade_principal             0
atividade_vig_sanitaria         0
atividade_predominante          0
incomodo                        0
latitude                    32669
longitude                   32669
dtype: int64

In [55]:
# Tratando os valores nulos

valor = 'Não Informado'

dadosEmpresasInativas.fillna(valor, inplace=True)
dadosEmpresasAtivas.fillna(valor, inplace=True)

In [57]:
# As colunas data_abertura_empresa e data_encerramento contêm datas,convertendo as para o tipo de dados DateTime

# Substitua "Não Informado" por NaN nas colunas de data
dadosEmpresasInativas['data_abertura_empresa'] = dadosEmpresasInativas['data_abertura_empresa'].replace('Não Informado', np.nan)
dadosEmpresasInativas['data_encerramento'] = dadosEmpresasInativas['data_encerramento'].replace('Não Informado', np.nan)

dadosEmpresasAtivas['data_abertura_empresa'] = dadosEmpresasAtivas['data_abertura_empresa'].replace('Não Informado', np.nan)
dadosEmpresasAtivas['data_encerramento'] = dadosEmpresasAtivas['data_encerramento'].replace('Não Informado', np.nan)

# Converta as colunas para o tipo DateTime
dadosEmpresasInativas['data_abertura_empresa'] = pd.to_datetime(dadosEmpresasInativas['data_abertura_empresa'], format='%d/%m/%Y', errors='coerce')
dadosEmpresasInativas['data_encerramento'] = pd.to_datetime(dadosEmpresasInativas['data_encerramento'], format='%d/%m/%Y', errors='coerce')

dadosEmpresasAtivas['data_abertura_empresa'] = pd.to_datetime(dadosEmpresasAtivas['data_abertura_empresa'], format='%d/%m/%Y', errors='coerce')
dadosEmpresasAtivas['data_encerramento'] = pd.to_datetime(dadosEmpresasAtivas['data_encerramento'], format='%d/%m/%Y', errors='coerce')

In [59]:
# As colunas numero_residencia, numero_lote, latitude, e longitude contêm números
# Tratando os valores não numéricos e convertendo para float
dadosEmpresasInativas['numero_residencia'] = pd.to_numeric(dadosEmpresasInativas['numero_residencia'], errors='coerce')
dadosEmpresasInativas['numero_lote'] = pd.to_numeric(dadosEmpresasInativas['numero_lote'], errors='coerce')
dadosEmpresasInativas['latitude'] = pd.to_numeric(dadosEmpresasInativas['latitude'], errors='coerce')
dadosEmpresasInativas['longitude'] = pd.to_numeric(dadosEmpresasInativas['longitude'], errors='coerce')

dadosEmpresasAtivas['numero_residencia'] = pd.to_numeric(dadosEmpresasAtivas['numero_residencia'], errors='coerce')
dadosEmpresasAtivas['numero_lote'] = pd.to_numeric(dadosEmpresasAtivas['numero_lote'], errors='coerce')
dadosEmpresasAtivas['latitude'] = pd.to_numeric(dadosEmpresasAtivas['latitude'], errors='coerce')
dadosEmpresasAtivas['longitude'] = pd.to_numeric(dadosEmpresasAtivas['longitude'], errors='coerce')

In [ ]:
# Dados pré-processados
print('Empresas Inativas\n')
dadosEmpresasInativas

In [ ]:
# Dados pré-processados
print('Empresas Ativas\n')
dadosEmpresasAtivas